<haed>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
<style>
#div1{
max-width: 40rem; float: none; margin: 0 auto;
font-family: 'Yeon Sung', cursive;
}

</style>
<body>
<br><br><br><br><br><br><br><br><br><br><br><br>
<div id="div1" align="center">
{% for CountModel in CountModels.all %}
    <h3>{{CountModel.gitid}}님의 commit한 날은 총 {{CountModel.gitcommitcount}}일입니다.</h3>

{% endfor %}
<br>
<a href="{% url 'home' %}"><button type="submit" class="btn btn-dark mb-2">돌아가기</button></a>&nbsp&nbsp&nbsp&nbsp
    <a href="{% url 'rank' %}"><button type="submit" class="btn btn-dark mb-2">순위확인하기</button></a>
</div>
</body>